* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    background: radial-gradient(#82B0E1, #3C6286);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eeee;
}

@keyframes showHome {
    to{
        opacity: 1;
    }
}

.home {
    opacity: 0;
    animation: showHome 2s .3s ease-in-out 1 forwards;
}

.playing-conceited {
    opacity: 0;
    animation: showHome .5s ease-in-out 1 forwards;
}

.playing-conceited .list {
    padding: 50px;
    background: radial-gradient(#C7834A, #C67E63, #A3646D );
}



/* This section is IMPORTANT!! */

.playing-conceited {
    position: relative; /* Ensure the parent container is positioned */
}

.playing-conceited li {
    position: relative;
}

.playing-conceited li.true {
    color: greenyellow;
}

.playing-conceited li.false {
    color: red;
}

.playing-conceited li.true::after,
.playing-conceited li.false::after {
    position: absolute;
    inset: 0 0 0 0;
    content: "+1";
    text-align: center;
    animation: showPoint .5s linear 1 forwards;
}

.playing-conceited li.false::after {
    content: "-1";
}

/* This section is IMPORTANT!! */

@keyframes showPoint {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateY(-50px);
        opacity: 0;
    }
}

.endGame {
    opacity: 0;
    animation: showHome 1s .3s ease-in-out 1 forwards;
}