/* This needs to be made to only be a square at all times */

.puzzle-board { 
    display: grid;
    width: 100%;
    max-width: 600px;
    height: 600px; 
    margin: auto;
    border: 2px solid #000;
    background: radial-gradient(#82B0E1, #3C6286);
    box-shadow: 0 10px 10px #0005;
}


.tile {
    border: 1px solid #ddd;
    box-sizing: border-box;
    background-color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    user-select: none;
    background-size: cover; 
    background-position: center;
    transition: background-color 0.3s;
}

.tile.blank {
    background-color: transparent;
    cursor: default;
}


.App-geographer {
    background: radial-gradient(#82B0E1, #3C6286);
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    color: #eeeeee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.controls {
    margin-bottom: 20px;
}

button {
    display: block;
    margin: 10px auto;
    background-color: #191a21;
    color: #eee;
    padding: 10px 20px;
    font-size: large;
    letter-spacing: 5px;
    box-shadow: 0 10px 10px #0005;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #333;
}