.display-drunkard {
    background: radial-gradient(#C7834A, #C67E63, #A3646D )
}

/* CSS for Score Animation */
@keyframes showPoint {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateY(-50px);
        opacity: 0;
    }
}

.score {
    position: relative;
    display: inline-block;
}

.score.correct {
    color: green;
}

.score.incorrect {
    color: red;
}

.score::after {
    position: absolute;
    top: -20px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    content: attr(data-value); /* Dynamically set content */
    text-align: center;
    animation: showPoint 1s linear 1 forwards;
}
