.display-drunkard {
    background: radial-gradient(#C7834A, #C67E63, #A3646D )
}

/* CSS for Score Animation */
@keyframes showPoint {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateY(-50px);
        opacity: 0;
    }
}

.score {
    position: relative;
}

.score p {
    position: relative;
}

.score p.correct {
    color: green;
}

.score p.incorrect {
    color: red;
}

.score p.correct::after,
.score p.incorrect::after{
    position: absolute;
    inset: 0 0 0 0;
    content: "+1";
    text-align: center;
    animation: showPoint .7s linear 1 forwards;
}

.score p.incorrect::after {
    content: "-1";
}
