.amatic-sc-regular {
  font-family: "Amatic SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.amatic-sc-bold {
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
}

* {
    font-family: "Amatic SC";
}

/* 
Color Palette:

Dark Blue #3C6286
Blue      #82B0E1
Lite Blue #B8D4E6

Orange    #C7834A
Redish    #C67E63
Marron    #A3646D

Yellow    #F0BF73

Purple    #6C6381
Gray      #787585
Lite Purp #C0B1BE
*/

