

/* Container for your form content to manage overflow behavior */
.container {
  flex: 1;
  overflow-y: auto; /* Enable vertical scrolling only within this container */
  overscroll-behavior: contain; /* Prevent bounce effect on mobile */
}


.amatic-sc-regular {
  font-family: "Amatic SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.amatic-sc-bold {
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lobster-two-regular {
  font-family: "Lobster Two", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lobster-two-bold {
  font-family: "Lobster Two", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lobster-two-regular-italic {
  font-family: "Lobster Two", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lobster-two-bold-italic {
  font-family: "Lobster Two", sans-serif;
  font-weight: 700;
  font-style: italic;
}


* {
    font-family: "Amatic SC";
    font-weight: 700;
    font-size: 1.2rem;
}

.heading {
  font-family: "Lobster Two";
}

#smooth-progress::-webkit-progress-value {
  transition: width 0.5s ease-in-out;
}

@keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}
@-webkit-keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

@-moz-keyframes move-background {    
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

    @-webkit-keyframes move-background {
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

.background-container{
	position: fixed;
	top: 0;
	left:0;
	bottom: 0;
	right: 0;
}

.stars {
 background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
 position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
  	z-index: 0;
}

.twinkling{
	width:10000px;
	height: 100%;
	background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
	background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    
    -moz-animation:move-background 5s linear infinite;
  -ms-animation:move-background 5s linear infinite;
  -o-animation:move-background 5s linear infinite;
  -webkit-animation:move-background 5s linear infinite;
  animation:move-background 5s linear infinite;
	
}



/* 
Color Palette:

Dark Blue #3C6286
Blue      #82B0E1
Lite Blue #B8D4E6

Orange    #C7834A
Redish    #C67E63
Marron    #A3646D

Yellow    #F0BF73
          
          #E5C100
          
          #FBD154

Purple    #6C6381
Gray      #787585
Lite Purp #C0B1BE
*/

